body{
    background-image: url(images/table.jpg);
    background-size: cover;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
}
h1{
    color: goldenrod;
}
#message-el{
    font-style: italic;
}
button{
    color:#016f32;
    width: 150px;
    background:goldenrod;
    font-weight: bold;
    padding: 5px 0 4px 0;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
}
